
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 710px;
    background-color: #EE9067;
}

.js-calculation {
    color: #B1B0B4;
    background-color: white;
    width: 250px ;
    height: 55px;
    border-radius: 0 25px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
}


.calculator {
    width: 300px;
    height: 387px;
    background-color: #374252;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}

.number {
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 0 25px;
    margin: 2px;
    border: none;
}

.clear {
    width: 55px;
    height: 55px;
    background-color: #E78737;
    border-radius: 0 25px;
    margin: 2px;
    border: none;
}